@import '~styles/variable.scss';

nav#side {
	width: $navbarWidth;
	background-color: $primaryColor;
	position:fixed;
	z-index:1;
	left:0px;
	bottom:0px;
	top:0px;
	border-right: 1px solid $borderColor;
}