$navbarHeight: 60px;
$navbarWidth: 60px;
$borderColor: #000000; 
$primaryColor: #353535; /* grey light */
$secondaryColor: #2b2b2b; /* grey dark */

$purpleColor: #ff4081; /* purple */
$cyanColor: #00BFFF; /* purple */
