@import '~styles/variable.scss';

.pre-loader {
  position: fixed;
  text-align: center;
  z-index: 100;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  visibility:visible;
  background-color: $secondaryColor;
    .progress {
      vertical-align: middle;
      display: inline-block;
    }
}